* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game-container{
    position: relative;
    width: 600px;
    height: 400px;
    background-color: white;
}

.menu-header{
    background-color: purple;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu-title{
    margin: 0;
    color: white;
    font-weight: bold;
}

h3{
    font-size: 30px;
}

.menu-text{
    padding: 20px;
}

.continue-game-btn{
    background-color: purple;
    color: white;
    width: 20%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

.menu{
    width: 100%;
    height: 100%;
}

.menu-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.level{
    background-color: rgb(92, 204, 241);
    width: 100%;
    height: 100%;
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial{
    background-color: rgb(92, 204, 241);
    width: 100%;
    height: 100%;
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial-text{
    color: white;
    text-align: center;
    font-size: large;
    grid-area: 3 / 2;
}

.tutorial-finger{
    position: absolute;
    width: 20%;
    translate: -130% 200%;
}

.task-box{
    margin: 25px 0px;
    padding: 25px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
}

.buttons-container{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0px;
    gap: 10px;
    /* grid-template-columns: repeat(3, 1fr); */
}

.answer-btn{
    background-color: tomato;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.score-bar{
    height: 100%;
    width: 60%;
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.score-bar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.score-bar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}


.result-header{
    background-color: rgb(65, 154, 189);
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.result-title{
    margin: 0;
    color: white;
}

.result-text-container{
    padding: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.result-text-item{
    padding-bottom: 40px;
}